.package-image {
    margin: 0 20px 20px 20px;
    max-width: 640px;
    margin: auto;
}

.image {
    width: 90%;
}

.package-image, .package-options, .package-decs {
    margin: 20px;
    display: inline-block;
}

.package-decs {
    max-width: 1920px;
}

@media only screen and (min-width: 1024px) {
    .package-image {
        float: left;
    }
}