.add-on {
    border: 1px #343a4075 solid;
    margin: 10px;
    border-radius: 5px;
    background-color: rgb(238, 238, 238);
}

.add-on-header {
    display: inline-block;
    margin: 20px 10px 0 10px;
    cursor: pointer;
}

.check-box {
    margin: 25px 10px 20px 10px;
    float: left;
}

.add-on-header:hover, .fa-exclamation-circle:hover {
    color: #007bff;
}