@import './components/pages/package-details/package-details.scss';

@import './components/pages/cart/cart.scss';
@import './components/shared/package-tile/package-tile.scss';
@import './components/shared/drop-down-selector/drop-down-selector.scss';
@import './components/shared/text/text.scss';
@import './components/shared/add-on/add-on.scss';
@import './components/shared/item-summary/item-summary.scss';

body {
    text-align: center;
    font-family: 'Quicksand', sans-serif;
}

.app {
    max-width: 1920px;
    margin: auto;
}